.navigationWrapper {
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  @media (width > 1260px) {
    max-width: 1260px;
    margin: 0 auto;
    padding-inline: 0;
  }
}

.leftSide {
  display: flex;
  align-items: center;
}

.navigationIconBox{
    text-decoration: none;
    color: #333;
    width: 30px;
    aspect-ratio: 1/1;
    cursor: pointer;

    i{
        font-size: 2.5rem;
    }
}

.rightSide{
  
}