.navigationBarBox{
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
    position: relative;
    z-index: 99;
}

.navigationBar{
    width: 30px;
    height: 3px;
    background-color: #333;
    border-radius: 5px;
}

