:root {
  --secondColor: #f5f5f1;
  --firstColor: white;
  --accentColorFirst: #00afb9;
  --accentColorSecond: #fed9b7;
  --textGray: #737373;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Roboto', serif;
}

.app-wrapper {
  @media (width > 1260px) {
    width: 1260px;
    margin: 0 auto;
  }
}
.section-color{
  background-color: var(--secondColor);
}